/* CSS de SectionDivider */

.section-divider-text {
  width: 100%;
  background: var(--color-main-dark);
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  gap: 3rem; 
  padding-right: 3rem;
  animation: scroll-right linear infinite;
}

.divider-text {
  font-weight: 600;
  color: var(--theme-2);
  letter-spacing: 1px;
  font-size: 2rem;
  white-space: nowrap; 
}

.section-divider-line {
  width: 100%;
  height: 5px;
  background: linear-gradient(135deg, 
              var(--theme-1), 
              var(--theme-2), 
              var(--theme-3));
}

/* animations */
@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}