/* CSS de App.jsx */

/* import d'INTER <3 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* ---------------------BODY-------------------------*/
body {
  background-color: #12171b;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}


/* ---------------------THEMES-------------------------*/
:root {
  --color-bg-about-1: #ca931e;
  --color-bg-about-2: #ea7448;
  --color-bg-about-3: #6f2c2f;

  --color-bg-jukebox-1: #f8f2f5;
  --color-bg-jukebox-2: #f39eac;
  --color-bg-jukebox-3: #f21116;

  --color-bg-vraille-1: #cfcccc;
  --color-bg-vraille-2: #7e7c7c;
  --color-bg-vraille-3: #414141;

  --color-bg-schoolfish-1: #3595f2;
  --color-bg-schoolfish-2: #2e2ff0;
  --color-bg-schoolfish-3: #0f3638;

  --color-bg-art-1: #f48b40;
  --color-bg-art-2: #b43124;
  --color-bg-art-3: #63151f;

  --color-bg-minecraft-1: #5a9a2e;
  --color-bg-minecraft-2: #155d04;
  --color-bg-minecraft-3: #473020;

  --color-bg-bottom-1: #ca931e;
  --color-bg-bottom-2: #ea7448;
  --color-bg-bottom-3: #6f2c2f;

  --theme-1: var(--color-bg-about-1);
  --theme-2: var(--color-bg-about-2);
  --theme-3: var(--color-bg-about-3);


  --color-main-dark: #12171b;
  --color-main-txt: #fff;
}



/* ---------------------BG-------------------------*/
.bg-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-bg {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  pointer-events: none;

}



/* ---------------------NO SELECT-------------------------*/
.no-select {
  user-select: none;
  -webkit-user-select: none; /* pour Safari */
}

/* ---------------------FOND FLOU ET SOMBRE (réutilisable)-------------------------*/
.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------------------TEL-------------------------*/
@media (max-width: 768px) {
  .bg-container {
    overflow-y: visible;
  }

  .main-bg {
    width: 195%;
    height: auto;
  }

}


/* --- SCROLL SUR CHROME --- */
::-webkit-scrollbar {
  width: 8px; /* largeur de la barre verticale */
  height: 20px; /* hauteur de la barre horizontale */
}

::-webkit-scrollbar-track {
  background: var(--color-main-dark); /* couleur de la piste */
}

::-webkit-scrollbar-thumb {
  background: #ffffff64; /* couleur du curseur */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-2);
}


